body{
  margin:0;
  font-family:Inter,system-ui,Arial;
  background:#0f172a;
  color:#e2e8f0;
}

h1,h2,h3,h4{
  margin:0 0 10px 0;
}

input{
  width:100%;
  padding:12px;
  border-radius:8px;
  border:1px solid #334155;
  background:#020617;
  color:white;
  outline:none;
}

input:focus{
  border-color:#3b82f6;
}

button{
  padding:10px 14px;
  border-radius:8px;
  border:none;
  cursor:pointer;
  font-weight:500;
}

button:hover{
  opacity:0.9;
}